.jumbotronRGB {
	background-color: red;
	animation-name: rgb;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	-webkit-animation-name:rgb;
	-webkit-animation-duration:3s;
}

.mainRGB {
	background-color: red;
	animation-name: rgb;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	-webkit-animation-name:rgb;
	-webkit-animation-duration:3s;	
}    

@keyframes rgb {
	0% { background-color: red; }
	50% { background-color: green; } 
	100% { background-color: blue; }
}

@-webkit-keyframes rgb {
	0% { background-color: red; }
	50% { background-color: green; } 
	100% { background-color: blue; }
}